.saved-header {
    font-family: 'Roboto-400',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 400;
    color: #1A1B22;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 104px;
    font-size: 18px;
    line-height: 24px;
    max-width: 530px;
}

.saved-header__title {
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
    color: rgba(26, 27, 34, 0.5);
}

.saved-header__header {
    font-family: 'Roboto Slab-400',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
    padding: 28px 0px 30px;
}

.saved-header__keywords {
    margin: 0;
    padding-bottom: 56px;
}

.saved-header__span {
    font-family: 'Roboto-700',
        'Helvetica',
        'Arial',
        sans-serif;
    font-weight: 700;
    margin: 0;
}

@media (max-width:1276px) {
    .saved-header {
        padding-left: 70px;
    }

}

@media (max-width: 768px) {
    .saved-header {
        padding: 24px 40px 32px;
    }

    .saved-header__title {
        padding: 0;
        font-size: 14px;
        line-height: 24px;
    }

    .saved-header__header {
        padding: 16px 0;
        font-size: 30px;
        line-height: 34px;
        max-width: 336px;
    }

    .saved-header__keywords {
        padding: 0;
    }
}

@media (max-width: 525px) {
    .saved-header {
        padding: 8px 16px;
        height: 230px;
        position: relative;
    }

    .saved-header__header {
        max-width: 288px;
        padding-top: 16px;
    }

    .saved-header__keywords {
        max-width: 288px;
        position: absolute;
        bottom: 32px;
    }
}