.page {
    background-image: url('../../assets/header-image.png');
    background-size: cover;
    max-width: 1440px;
    height: 576px;
    background-size: cover;
    background-position: center;
    padding: 0 104px;
    position: relative;

}

.page__border {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-top: 1px solid #c4c4c4;
    z-index: 1;
}

.page__section {
    max-width: 1360px;
    margin: 0 auto;
}