.page {
    background-color: #F5F6F7;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    min-height: 100vh;
    
    position: relative;
}

.page__image {
    background-image: url('../../assets/header-image.png');
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 576px;
    position: absolute;
}

.page__border {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-top: 1px solid #c4c4c4;
    z-index: 1;
}

.page__section {
    margin: 0 auto;
}