.page {
    background-color: #F5F6F7;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.page__image {
    background-image: url('../../images/header-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 576px;
    position: absolute;
}

@supports (background-image: url("../../images/header-image.webp")) {
    .page__image {
        background-image: url('../../images/header-image.webp');
    }
}

.page__image_saved {
    background-image: none;
    background-color: #fff;
    height: 374px;
}

.page__border {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    border-top: 1px solid #c4c4c4;
    z-index: 5;
}

.page__section {
    margin: 0 auto;
}

.page__error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Inter-400;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.5px;
    color: #FF0000;
}

@media (max-width: 768px) {
    .page__image {
        height: 400px;
    }

    .page__image_saved {
        height: 270px;
    }

    .page__border {
        top: 66px;
    }

    .page__error-message {
        margin: 12px;
        max-width: 768px;
    }
}

@media (max-width: 525px) {
    .page {
        position: relative;
    }

    .page__image {
        background-image: url(../../images/mobile-background.jpg);
        height: 536px;
    }

    @supports (background-image: url("../../images/mobile-background.webp")) {
        .page__image {
            background-image: url('../../images/mobile-background.webp');
        }
    }

    .page__image::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 536px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .page__image_saved {
        background-image: none;
        height: 302px;
    }

    .page__image_saved::before {
        background: none;
    }

    .page__border {
        top: 56px;
    }

    .page__error-message {
        max-width: 385px;
    }

    .page__no-scroll {
        overflow: hidden;
    }
}