@font-face {
    src: url("../../vendor/fonts/roboto-slab-400-regular.woff") format("woff");
    font-family: "Roboto Slab-400";
}

@font-face {
    src: url("../../vendor/fonts/roboto-500.woff") format("woff");
    font-family: "Roboto-500";
}

.search {
    padding: 80px 102px;
    color: #1A1B22;
}

.search__title {
    font-family: Roboto Slab-400;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
    padding-bottom: 64px;
}

.search__content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 0;
    padding: 0;
    max-width: 1232px;
    list-style: none;
}

.search__content>li {
    width: 100%;
}

.search__buttons {
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

.search__more {
    font-family: Roboto-500;
    font-size: 18px;
    line-height: 24px;
    background-color: #fff;
    margin: 0;
    padding: 20px 91.5px;
    border: none;
    border-radius: 130px;
    cursor: url(../../assets/pointer.svg), auto;
    transition: background-color 0.3s ease;
}

.search__more:hover {
    background-color: #E8E8E8;
}

@media (max-width: 1024px) {
    .search {
        padding: 40px;
    }

    .search__content {
        grid-gap: 8px;
    }

    .search__title {
        font-size: 30px;
        line-height: 34px;
        padding-bottom: 32px;
    }

    .search__buttons {
        padding: 0;
        margin-top: 32px;
    }

    .search__more {
        padding: 16px 82px;
    }
}

@media (max-width: 425px) {
    .search {
        padding: 32px 16px 66px;
    }

    .search__content {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        justify-content: center;
    }

    .search__title {
        font-size: 30px;
        line-height: 34px;
        padding-bottom: 58px;
    }

    .search__buttons {
        padding: 0;
        margin-top: 32px;
    }

    .search__more {
        padding: 16px 82px;
    }
}