@font-face {
    src: url("../../vendor/fonts/roboto-slab-400-regular.woff") format("woff");
    font-family: "Roboto Slab-400";
}

@font-face {
    src: url("../../vendor/fonts/roboto-400-regular.woff") format("woff");
    font-family: "Roboto-400";
}

.about {
    display: flex;
    padding: 80px 104px;
    background-color: #fff;
}

.about__image {
    width: 464px;
    height: 464px;
    border-radius: 50%;
    object-fit: cover;
}

.about__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000;
    padding-left: 56px;
}

.about__title {
    font-family: Roboto Slab-400;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
}

.about__text {
    font-family: Roboto-400;
    font-size: 18px;
    line-height: 24px;
}