@font-face {
    src: url("../../vendor/fonts/roboto-500.woff") format("woff");
    font-family: "Roboto-500";
}

.nav {
    display: flex;
    align-items: baseline;
    font-family: Roboto-500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    gap: 40px;
}


.nav__text {
    text-decoration: none;
    color: #fff;
    padding: 0px 9.5px 26px;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.nav__text_saved{
    color: #1A1B22;
}

/* .nav__text_logout {

} */

.nav__text_logout-saved {
    color: #1A1B22;
    padding: 0;
}

.nav__home.active {
    border-bottom: 3px solid #fff;
    
}

/* .nav__saved {
    
} */

.nav__saved.active {
    border-bottom: 3px solid #000;
}

.nav__button {
    width: 176px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 120px;
    cursor: pointer;
    color: #fff;
    height: 48px;
    position: relative;
}

.nav__button_saved {
border-color: #1A1B22;
}

.nav__button_logout{
    width: 112px;
}

.nav__logout-image{
    width: 16px;
height: 17.4px;
}