@font-face {
    src: url("../../vendor/fonts/roboto-slab-700.woff") format("woff");
    font-family: "Roboto Slab-700";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 4.5px 104px;
}

.header__title {
    font-family: Roboto Slab-700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}