@font-face {
    src: url("../../vendor/fonts/roboto-slab-700.woff") format("woff");
    font-family: "Roboto Slab-700";
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 16px 104px 0px;
}

.header__title {
    font-family: Roboto Slab-700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0;
}

.header__title_saved {
    color: #1A1B22;
}